In [3]:
import os
import pandas as pd

In [6]:
current_dir = os.getcwd()
personal_income_2011_path = os.path.join("../../data/raw/extractions/personal income 2011.csv")
personal_income_2012_path = os.path.join("../../data/raw/extractions/personal income 2012.csv")
personal_income_2013_path = os.path.join("../../data/raw/extractions/personal income 2013.csv")
personal_income_2014_path = os.path.join("../../data/raw/extractions/personal income 2014.csv")
personal_income_2015_path = os.path.join("../../data/raw/extractions/personal income 2015.csv")
personal_income_2016_path = os.path.join("../../data/raw/extractions/personal income 2016.csv")

In [7]:
personal_income_2011 = pd.read_csv(personal_income_2011_path, sep=",", skiprows=3, nrows=3140)
personal_income_2012 = pd.read_csv(personal_income_2012_path, sep=",", skiprows=3, nrows=3140)
personal_income_2013 = pd.read_csv(personal_income_2013_path, sep=",", skiprows=3, nrows=3140)
personal_income_2014 = pd.read_csv(personal_income_2014_path, sep=",", skiprows=3, nrows=3140)
personal_income_2015 = pd.read_csv(personal_income_2015_path, sep=",", skiprows=3, nrows=3140)
personal_income_2016 = pd.read_csv(personal_income_2016_path, sep=",", skiprows=3, nrows=3140)

In [8]:
from functools import reduce
dfs = [personal_income_2011, personal_income_2012, personal_income_2013, personal_income_2014, personal_income_2015, personal_income_2016]
df_merged = reduce(lambda left, right: pd.merge(left, right, on=['GeoFips', 'GeoName']), dfs)

In [ ]:
df_merged[df_merged['GeoName'].str.count(',') > 1]
# Divide por la última coma usando rsplit
df_merged[['City', 'State']] = df_merged['GeoName'].str.rsplit(', ', n=1, expand=True)

California, Texas, Wisconsin

In [10]:
df_state = df_merged[df_merged["State"].isin(["WI","CA","TX"])]
df_state

,GeoFips,GeoName,2011,2012,2013,2014,2015,2016,City,State
212,6001,"Alameda, CA",77301332,81435436,85777177,92038123,101231136,108327158,Alameda,CA
213,6003,"Alpine, CA",59552,63498,63059,68364,71467,77273,Alpine,CA
214,6005,"Amador, CA",1309908,1325416,1336888,1399961,1481210,1519574,Amador,CA
215,6007,"Butte, CA",7394936,7606689,7807319,8138129,8782120,9126674,Butte,CA
216,6009,"Calaveras, CA",1689688,1668101,1673573,1759276,1897268,1967729,Calaveras,CA
...,...,...,...,...,...,...,...,...,...,...
3111,55133,"Waukesha, WI",22376933,23433212,23518956,24379963,25692439,26659675,Waukesha,WI
3112,55135,"Waupaca, WI",1956364,2022865,2038770,2119752,2169405,2167299,Waupaca,WI
3113,55137,"Waushara, WI",838285,869794,855290,879951,920495,910520,Waushara,WI
3114,55139,"Winnebago, WI",6578743,6732743,6691544,6952107,7252755,7483491,Winnebago,WI
3115,55141,"Wood, WI",2836172,2916740,2902301,2996866,3117478,3153934,Wood,WI

In [11]:
df_state[['2011', '2012', '2013', '2014', '2015', '2016']] = df_state[['2011', '2012', '2013', '2014', '2015', '2016']].apply(pd.to_numeric, errors='coerce')

/var/folders/js/4g9f6f7d2vj886wxt_jkqkyc0000gn/T/ipykernel_2596/1507264729.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_state[['2011', '2012', '2013', '2014', '2015', '2016']] = df_state[['2011', '2012', '2013', '2014', '2015', '2016']].apply(pd.to_numeric, errors='coerce')

In [12]:
df_state

,GeoFips,GeoName,2011,2012,2013,2014,2015,2016,City,State
212,6001,"Alameda, CA",77301332,81435436,85777177,92038123,101231136,108327158,Alameda,CA
213,6003,"Alpine, CA",59552,63498,63059,68364,71467,77273,Alpine,CA
214,6005,"Amador, CA",1309908,1325416,1336888,1399961,1481210,1519574,Amador,CA
215,6007,"Butte, CA",7394936,7606689,7807319,8138129,8782120,9126674,Butte,CA
216,6009,"Calaveras, CA",1689688,1668101,1673573,1759276,1897268,1967729,Calaveras,CA
...,...,...,...,...,...,...,...,...,...,...
3111,55133,"Waukesha, WI",22376933,23433212,23518956,24379963,25692439,26659675,Waukesha,WI
3112,55135,"Waupaca, WI",1956364,2022865,2038770,2119752,2169405,2167299,Waupaca,WI
3113,55137,"Waushara, WI",838285,869794,855290,879951,920495,910520,Waushara,WI
3114,55139,"Winnebago, WI",6578743,6732743,6691544,6952107,7252755,7483491,Winnebago,WI
3115,55141,"Wood, WI",2836172,2916740,2902301,2996866,3117478,3153934,Wood,WI

In [13]:
df_state = df_state.drop(columns=["GeoFips"])

In [14]:
df_state.isna().sum()

GeoName    0
2011       0
2012       0
2013       0
2014       0
2015       0
2016       0
City       0
State      0
dtype: int64

In [15]:
df_state_yearly_mean = df_state.groupby("State")[['2011', '2012', '2013', '2014', '2015', '2016']].mean()

In [16]:
# Añadir el prefijo "personal_income_mean_" a todas las columnas de año
df_state_yearly_mean.rename(columns=lambda col: f"pi_mean_{col}" if col.isdigit() else col, inplace=True)
df_state_yearly_mean = df_state_yearly_mean.reset_index()
df_state_yearly_mean

,State,pi_mean_2011,pi_mean_2012,pi_mean_2013,pi_mean_2014,pi_mean_2015,pi_mean_2016
0,CA,2.954186e+07,3.128902e+07,3.173940e+07,3.371928e+07,3.615603e+07,3.777824e+07
1,TX,4.231724e+06,4.499557e+06,4.621053e+06,4.951337e+06,5.043977e+06,5.024924e+06
2,WI,3.330011e+06,3.470573e+06,3.488184e+06,3.621579e+06,3.777543e+06,3.844672e+06

In [17]:
## Guardar en CSV

df_state_yearly_mean_path = os.path.join(current_dir, '../../data/raw/macrodata/')

df_state_yearly_mean_data = os.path.join(df_state_yearly_mean_path, "personal_income.csv")

df_state_yearly_mean.to_csv(df_state_yearly_mean_data, index=False)